@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display:ital@1&family=Josefin+Sans:ital,wght@0,500;1,300&display=swap');
body{
    background: linear-gradient(to right, #255469a1 45%, #0c552daf);  

}
a{
    color: #ffffff;
}
.conte{
    font-family: 'Cinzel', serif;
}