body{
    background-color: #381169;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23381169' cx='50' cy='0' r='50'/%3E%3Cg fill='%232a1f73' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23132a7c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23003383' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003c89' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300448e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004b91' cx='50' cy='300' r='50'/%3E%3Cg fill='%23005293' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005994' cx='50' cy='400' r='50'/%3E%3Cg fill='%23005f94' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23006693' cx='50' cy='500' r='50'/%3E%3Cg fill='%23006c91' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300728f' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300778c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23007d8a' cx='50' cy='700' r='50'/%3E%3Cg fill='%23008287' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23008785' cx='50' cy='800' r='50'/%3E%3Cg fill='%23228c83' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a9182' cx='50' cy='900' r='50'/%3E%3Cg fill='%234d9581' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%235D9A81' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
a{
    color: #31ccf3;
}

#tabla{
    border-color: #e4eeae;
    font-size: small;
}
a>img{
    width: 25px;
    height: 25px;
}