<link rel="stylesheet" href="/css/homeRes.css">
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center" id="msm">
    <h1 class="display-4 text-danger" >Acceso permitido solo para Administradores</h1>
</div>
