
body{
    background-color: #FF9D00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%233CC416' stroke-width='0' %3E%3Ccircle fill='%23FF9D00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23ff8d21' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23ff7e34' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ff7043' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23fc6350' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f4585c' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23e94f67' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23dd4970' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23ce4578' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bd447e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23ac4383' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23984385' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23854385' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23714383' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%235d427f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23494078' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23363d70' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23243A67' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
a{
    color: #31ccf3;
}
.table{
    border-color: #e4eeae;
    font-size: small;
}
a>img{
    width: 25px;
    height: 25px;
}