body{
    background: radial-gradient(#23a769, #044e44);    
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#avatar{
    display: flex;
}
#imgA{
    margin-top: 20px;
    margin-bottom: 20px;
}
#imgA>label{
    margin-bottom: 10px;
}